html {
  cursor: auto;
  scrollbar-color: darkgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: #08508b;
  border: white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: white;
}

h2 {
  color: white;
  transition-delay: 2s;
}

body {
  background-color: black;
}

a {
  color:white;
}

/* Callout box - fixed position at the top of the page */
.callout {
  position: relative;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: rgba(0, 0, 29, 0.888);
  color: white
}

/* Close button */
.closebtn {
  position: static;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: rgba( 100, 0, 0, 75);
}